<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta nmae="og:title" content="PikeList.tk">
    <meta name="description" content="Conheça a nova botlist, a PikeList!">

    <title>PikeList - API</title>

    <link rel="stylesheet" href="/style.css">
    <script src="/bot.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        <img
          height="25"
          width="25"
          src="https://cdn.discordapp.com/attachments/803279486736007218/821445464913608744/1615918240019.png"
        />PikeList<a href="/api/"
          ><button
            style="position: absolute; right: 50%; height: 40px; width: 40px;background-color: Transparent; border: 0; color: white; font-weight: bold; font-size: 20px; align: center;"
          >
            API
          </button></a
        ><a href="/all/"
          ><button
            style="position: absolute; right: 35%; height: 40px; width: 40px;background-color: Transparent; border: 0; color: white; font-weight: bold; font-size: 20px; align: center;"
          >
            Bots
          </button></a
        >
      </h1>
    </header>
    <div class="header">
      <img id="av" class="bola" height="150" width="150" style="border-radius: 50%;">
      <p id="tag" style="font-size: 35px;">Loading...</p>
      <p id="votes" style="font-size: 20px;">Loading ...</p>
      <a id="invite" href="https://discord.com/api/oauth2/authorize?client_id={id}&permissions=0&scope=bot"><button style="height:40px; width:100px; font-size:20px; font-weight: 600; color: white;border: 0; background-color: #006496; border-radius: 13%;">Convidar</button></a>
      <center>
      <div class="square">
        <p id="shortD">Loading...</p>
      </div>
      </center>
    </div>
  </body>
</html>